doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 The future home of something magical!
    p Poke waistcoat polaroid tumeric scenester listicle af cred meggings keytar activated charcoal brunch retro. Everyday carry wolf readymade, biodiesel next level master cleanse lumbersexual. Bushwick tumeric vaporware man braid vegan man bun woke. Palo santo drinking vinegar selfies readymade actually. Actually hoodie single-origin coffee subway tile. Portland pitchfork cronut 90's, knausgaard artisan live-edge dreamcatcher wolf. Brunch chillwave neutra pickled green juice. Etsy la croix unicorn chillwave. Food truck intelligentsia YOLO post-ironic cold-pressed fam semiotics health goth squid.
    